<section class="cards-section" id="cards-section">
  <div class="container">
    <h2 class="special-heading">Products</h2>
    <p>If you do it right, it will last forever</p>
    <div class="cards-grid">

      {{#each productsArray as |product|}}
        <div class="card">
          <div
            class="d-e"
            {{#unless ../adminLogedIn}}
            style="display: none;"
            {{/unless}}
          >
            <i
              class="fa-solid fa-trash"
              style="color: #f10909; cursor:pointer;"
              hx-delete="products/{{product._id}}"
              hx-target="closest .card"
              hx-swap="outerHTML"
              hx-confirm="are you sure you want to delete this product?"
              hx-indicator="#main-indicator"
            ></i>
          </div>
          
          <img loading="lazy" src="/products/image/{{product._id}}" alt="image" />

          <div class="info">
            <h3>{{product.title}}</h3>
            <p>Body: {{product.body}}</p>
            <h4>price:{{product.price}}</h4>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</section>